.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: linear-gradient(to bottom right, #222, #111);
    border-radius: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
}

.search{
    margin-bottom: 20px;
}