@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #111;
    color: #eee;
}

.App {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.columns2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

button {
    background-color: #111;
    color: #fff;
    outline: #fff solid 1px;
    border: none;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #111;
}

input {
    padding: 10px;
    padding-left: 15px;
    border-radius: 8px;
    border: none;
    font-size: medium;
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease;
}

input:focus {
    outline: none;
    background-color: #333;
}